.simple-scroll-container {
  color: #333;
  background-color: #fff;
  /*margin: 0 auto;*/
  position: relative;
  overflow: hidden;
  display: none;
}

.simple-scroll-container .simple-scroll-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-right: 20px;
}

.simple-scroll-container .simple-scroll-content div {
  margin: 0 10px 0 20px;
}

.simple-scroll-container .simple-scroll-content img {
  max-width: 100%;
  display: block;
}

.simple-scroll-container .simple-scroll-back {
  background-color: #aaa;
  margin: 5px;
  height: calc(100% - 10px);
  width: 10px;
  position: absolute;
  right: 0;
  border-radius: 50px;
  overflow: hidden;
}

.simple-scroll-container .simple-scroll-back .simple-scroll-bar {
  background-color: #666;
  height: 30%;
  width: 100%;
  position: absolute;
  border-radius: 50px;
}

.simple-scroll-container .simple-scroll-back, .simple-scroll-container .simple-scroll-back .simple-scroll-bar{
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.simple-scroll-container:hover .simple-scroll-back, .simple-scroll-container:hover .simple-scroll-back .simple-scroll-bar{
  opacity: 1;
}

.simple-scroll-container .simple-scroll-back:hover , .simple-scroll-container .simple-scroll-back:hover  .simple-scroll-bar{
  opacity: 0.5;
  cursor: not-allowed;
}